html{
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
}

body{
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 0.25em;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

a {
    color: inherit;
    text-decoration: none;
}

#home {
    background-image: url("../images/background.jpg");
}

.logo {
    width: 9ch;
}

.title, .logo {
    font-family: "Indie Flower";
    font-size: 3em;
}

.tagline {
    font-style: italic;
    font-size: 1.5em;
}

.photobox {
    display: flex;
}

.photobox img {
    width: 22ch;
}

.photobox figure {
    font-size: .6em;
    margin-left: 0;
    margin-top: .3rem;
    margin-right: 1em;
    margin-bottom: 2em;
}

article {
    padding-top: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20vw;
    padding-right: 20vw;
    position: relative;
}

.photobox > :last-child {
    text-align: left;
}

article:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.1;
    z-index: -1;
}

#about:before {
    background-image: url('../images/c64.jpg');
}

 h2 {
    font-size: 1.25em;
}

#services p, #apps p {
    text-align: left;
}

#services:before {
    background-image: url('../images/www.jpg')
}

#apps:before {
    background-image: url('../images/apps.jpg')
}

#apps h1 {
    grid-area: header;
}

#apps > .content {
    grid-area: main;
}

#apps > div:nth-of-type(1) {
    grid-area: sidebar-left;
    padding-right: 1.5em;
    text-align: right;
}

#apps > div:nth-of-type(3) {
    grid-area: sidebar-right;
    padding-left: 1.5em;
    text-align: left;
}

#apps > .sidebar > img {
    height: 20vh;
    margin-bottom: 0.5em;

}

#apps {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'sidebar-left main main main main sidebar-right'
        'sidebar-left main main main main sidebar-right'
        'sidebar-left main main main main sidebar-right'
        'sidebar-left main main main main sidebar-right'
        'sidebar-left main main main main sidebar-right'

    }